<a href="https://colab.research.google.com/github/shreyashpu1/PW-Skills-Assignments/blob/main/02_Data_Structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Types and Structures Questions


1. What are data structures, and why are they important?
- Data structures are ways of organizing and storing data in a computer so that it can be used efficiently. Examples in Python include lists, tuples, sets, and dictionaries.
- They are important because they help manage large amounts of data, make searching, inserting, and deleting data faster and allow us to choose the best method for solving different problems.

2. Explain the difference between mutable and immutable data types with examples?
- Mutable data types are those that can be changed after creation, while immutable data types cannot be changed once they are created.
- Mutable Data Types:
Their contents (elements) can be modified, added, or removed.
  - Examples: list, dictionary, set
    
    my_list = [1, 2, 3]
    
    my_list[1] = 20   # Changing element
    
    print(my_list)    # [1, 20, 3]

- Immutable Data Types:
Once created, their contents cannot be changed.
  - Examples: int, float, string, tuple
    
    my_tuple = (1, 2, 3)

    my_tuple[1] = 20   #This will give an error
    
3. What are the main differences between lists and tuples in Python?
- Lists are mutable, meaning their elements can be changed, added, or removed.
- Tuples are immutable, so once created, their elements cannot be modified.
- Lists are defined using square brackets [ ], while tuples use parentheses ( ).
- Lists are generally slower than tuples because they allow modifications.
- Lists are used when data may change, while tuples are used when data must remain fixed.

4. Describe how dictionaries store data?
- Dictionaries in Python store data as key–value pairs. Each key is unique and works like an index, while the value is the data associated with that key. Internally, dictionaries use a technique called hashing, which allows very fast searching, insertion, and deletion of data.

5. Why might you use a set instead of a list in Python?
- We use a set instead of a list in Python when:
  - We need to store unique elements.
  - Need faster membership testing (checking if an element exists is quicker in a set because it uses hashing).
  - To perform set operations like union, intersection, and difference, which are not available with lists.

6. What is a string in Python, and how is it different from a list?
- A string in Python is a sequence of characters enclosed within single quotes (' '), double quotes (" "), or triple quotes (''' ''' or """ """). Strings are used to represent text data, such as words, sentences, or symbols.

- The difference between a string and a list is:
  - A string stores characters and is immutable, meaning once created, its content cannot be changed.
  - A list can store elements of different data types (numbers, strings, etc.) and is mutable, meaning its contents can be modified.
  - Strings use quotes for definition, while lists use square brackets [ ].

7. How do tuples ensure data integrity in Python?
- Tuples in Python ensure data integrity because they are immutable. Once a tuple is created, its elements cannot be changed, added, or removed. This immutability guarantees that the data will remain constant throughout the program, preventing accidental modifications.

8. What is a hash table, and how does it relate to dictionaries in Python?
- A hash table is a data structure that stores data in the form of key–value pairs. It uses a hashing function to convert each key into a unique index (hash value), which makes searching, inserting, and deleting data very fast.
- In Python, dictionaries are implemented using hash tables.
- The keys are hashed to find their position in memory.
- The values are stored at those positions.
- This is why dictionary lookups (my_dict["key"]) are usually very efficient.

9. Can lists contain different data types in Python?
- Yes, lists in Python can contain different data types in the same list.

10. Explain why strings are immutable in Python?
- Memory efficiency and security – Since strings are often used as keys in dictionaries or for storing sensitive data, immutability ensures that their values do not change unexpectedly.
- Hashing support – Because strings never change, they can be used reliably as keys in hash-based data structures like dictionaries and sets.
- Performance optimization – Immutable strings allow Python to reuse the same string object in memory (string interning), saving memory and improving speed.

11. What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries in Python offer some clear advantages over lists for certain tasks. A list stores data in a sequence where you access elements by their index, while a dictionary stores data as key–value pairs, allowing you to quickly access values using meaningful keys. This makes dictionaries much faster and more efficient for lookups, updates, and searching when compared to lists. They also make the code more readable, since you can use descriptive keys (like "name" or "age") instead of remembering numeric indexes. Additionally, dictionaries prevent duplicate keys, ensuring unique identifiers for data.

12. Describe a scenario where using a tuple would be preferable over a list?
- Example scenario - Defining days of the week. These are constant values that never change.
- days = ("Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday")

13. How do sets handle duplicate values in Python?
- Sets automatically remove duplicate values. A set is an unordered collection of unique elements, so if you try to add the same value more than once, Python will store it only once.

14. How does the “in” keyword work differently for lists and dictionaries?
- For lists, in checks whether a value is present in the list elements.
- For dictionaries, in checks only if the key is present, not the values.

15. Can you modify the elements of a tuple? Explain why or why not?
- No, you cannot modify the elements of a tuple in Python because tuples are immutable. Once a tuple is created, its elements cannot be changed, added, or removed.

16. What is a nested dictionary, and give an example of its use case?
- A nested dictionary in Python is a dictionary that contains another dictionary as its value. It allows you to store data in multiple levels, making it useful for representing structured or hierarchical information.
- Example use case: Storing student records where each student has details like name, age, and marks.
  - students = {
    "101": {"name": "Alice", "age": 20, "marks": 85},
    "102": {"name": "Bob", "age": 21, "marks": 90},
    "103": {"name": "Charlie", "age": 19, "marks": 78}
}
  - Here, each student ID maps to another dictionary containing their details.

17. Describe the time complexity of accessing elements in a dictionary.
- Accessing elements in a dictionary in Python is generally very fast. Dictionaries use a hash table internally, so the average time complexity for accessing, inserting, or deleting an element is O(1) (constant time).

18. In what situations are lists preferred over dictionaries?
- Lists are preferred over dictionaries when you need to store data in a simple ordered sequence without worrying about key–value pairs. They are best suited when the position (index) of elements matters, such as processing items in order, iterating through data, or when duplicates are allowed.
- Lists also use less memory compared to dictionaries, so they are more efficient for storing small or straightforward collections of items like numbers, names, or records where unique keys are not required.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- Dictionaries are considered unordered because they store data based on a hashing mechanism rather than in a fixed sequence like lists or tuples.
- However, this does not affect data retrieval because dictionaries use keys to access values directly. No matter how the data is stored internally, you can always retrieve a value in constant time O(1) by using its key. The only effect of being unordered is that you cannot rely on the dictionary to maintain the sequence in which items were added.

20. Explain the difference between a list and a dictionary in terms of data retrieval.
- The main difference between a list and a dictionary in terms of data retrieval is how elements are accessed.
- In a list, elements are retrieved using their index position, which means you need to know where the item is stored in the sequence.
- In a dictionary, elements are retrieved using a key, which directly maps to its value.

#Practical Questions

In [1]:
#1. Write a code to create a string with your name and print it.
name="Shreyash"
print("Hello "+name)

Hello Shreyash

In [2]:
#2. Write a code to find the length of the string "Hello World".
string="Hello World"
print(len(string))

11

In [3]:
#3. Write a code to slice the first 3 characters from the string "Python Programming".
p="Python Programming"
p[:3]

'Pyt'

In [5]:
#4. Write a code to convert the string "hello" to uppercase.
s="hello"
s.upper()

'HELLO'

In [6]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple".
s="I like apple"
s.replace("apple", "orange")

'I like orange'

In [7]:
#6. Write a code to create a list with numbers 1 to 5 and print it.
lst=[x for x in range(1,6)]
print(lst)

[1, 2, 3, 4, 5]

In [9]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4].
lst=[1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [11]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [12]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
lst= ['a', 'b', 'c', 'd']
lst[1]

'b'

In [15]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].
lst= [10, 20, 30, 40, 50]
lst[::-1]

[50, 40, 30, 20, 10]

In [18]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
t=(100, 200, 300)
print(t)

(100, 200, 300)

In [19]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
colors[-2]

'blue'

In [21]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
nums=(10, 20, 5, 15)
min(nums)

5

In [22]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals=('dog', 'cat', 'rabbit')
animals.index('cat')

1

In [24]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ('mango', 'kiwi', 'guava')
if 'kiwi' in fruits:
  print("Kiwi is present")
else:
  print("Kiwi is not present")

Kiwi is present

In [27]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s={'a', 'b', 'c'}
print(s)

{'b', 'a', 'c'}

In [29]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [30]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s= {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [31]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
s1={1, 2, 3}
s2={3, 4, 5}
s1|s2

{1, 2, 3, 4, 5}

In [32]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
s1={1, 2, 3}
s2={2, 3, 4}
s1&s2

{2, 3}

In [34]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
d={"name":"Rahul", "age":10,"city":"Bengaluru"}
print(d)

{'name': 'Rahul', 'age': 10, 'city': 'Bengaluru'}

In [38]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
d= {'name': 'John', 'age': 25}
d["country"]="USA"
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [39]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
d={'name': 'Alice', 'age': 30}
d['name']

'Alice'

In [46]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
d={'name': 'Bob', 'age': 22, 'city': 'New York'}
d.pop('age')
print(d)

{'name': 'Bob', 'city': 'New York'}

In [49]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
d= {'name': 'Alice', 'city': 'Paris'}
if 'city' in d.keys():
  print("City exists")
else:
  print("City doesn't exist")

City exists

In [50]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [10, 20, 30, 40]
my_tuple = ("apple", "banana", "cherry")
my_dict = {"name": "Alice", "age": 25, "city": "Bangalore"}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [10, 20, 30, 40]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 25, 'city': 'Bangalore'}

In [55]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
numbers = [random.randint(1, 100) for i in range(5)]
numbers.sort()
print("Sorted list:", numbers)

Sorted list: [15, 55, 58, 73, 94]

In [56]:
#28. Write a code to create a list with strings and print the element at the third index.
fruits=['apple','mango','kiwi','guava']
fruits[2]

'kiwi'

In [61]:
#29. Write a code to combine two dictionaries into one and print the result.
dict1={'name': 'Alice', 'age': 25}
dict2={'city': 'Bangalore'}
dict1.update(dict2)
print(dict1)

{'name': 'Alice', 'age': 25, 'city': 'Bangalore'}

In [64]:
#30. Write a code to convert a list of strings into a set.
fruit_list=['apple','mango','kiwi','guava']
fruit_set=set(fruit_list)
print(fruit_set)

{'kiwi', 'mango', 'guava', 'apple'}